{% capture footer_contents %}
  &copy; Copyright {{ site.time | date: '%Y' }}
  {{ site.first_name }}
  {{ site.middle_name }}
  {{ site.last_name }}. {{ site.footer_text }}
  {% if site.impressum_path %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
  {% endif %}
  {% if site.last_updated %}
    Last updated: {{ 'now' | date: '%B %d, %Y' }}.
  {% endif %}
{% endcapture %}

{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      <div class="footer-social-icons">
        {% if site.data.socials.github_username %}
          <a href="https://github.com/{{ site.data.socials.github_username }}" target="_blank" title="GitHub"><i class="fa-brands fa-github"></i></a>
        {% endif %}
        {% if site.data.socials.scholar_userid %}
          <a href="https://scholar.google.com/citations?user={{ site.data.socials.scholar_userid }}" target="_blank" title="Google Scholar"><i class="fa-brands fa-google-scholar"></i></a>
        {% endif %}
        {% if site.data.socials.orcid_id %}
          <a href="https://orcid.org/{{ site.data.socials.orcid_id }}" target="_blank" title="ORCID"><i class="fa-brands fa-orcid"></i></a>
        {% endif %}
      </div>
      {{ footer_contents }}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include newsletter.liquid %}
    {% endif %}

    <div class="container">
      <div class="footer-social-icons">
        {% if site.data.socials.github_username %}
          <a href="https://github.com/{{ site.data.socials.github_username }}" target="_blank" title="GitHub"><i class="fa-brands fa-github"></i></a>
        {% endif %}
        {% if site.data.socials.scholar_userid %}
          <a href="https://scholar.google.com/citations?user={{ site.data.socials.scholar_userid }}" target="_blank" title="Google Scholar"><i class="fa-brands fa-google-scholar"></i></a>
        {% endif %}
        {% if site.data.socials.orcid_id %}
          <a href="https://orcid.org/{{ site.data.socials.orcid_id }}" target="_blank" title="ORCID"><i class="fa-brands fa-orcid"></i></a>
        {% endif %}
      </div>
      {{ footer_contents }}
    </div>
  </footer>
{% endif %}
